@model EcoleWeb.Models.cour

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dureeTotale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dureeTotale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dureeParJour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dureeParJour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbInscriptionMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbInscriptionMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbInscriptionMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbInscriptionMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etatcour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etatcour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.professeur.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professeur.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
