@model EcoleWeb.Models.inscriptioncour

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer cette inscription?</h3>
<div>
    <h4>Inscription d'un cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateInscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateInscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paiments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paiments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cour.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cour.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etudiant.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etudiant.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
