@model EcoleWeb.Models.inscriptioncour

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Inscription d'un cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateInscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateInscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paiments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paiments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cour.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cour.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etudiant.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etudiant.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Éditer", "Edit", new { id = Model.idInscription }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
