@model EcoleWeb.Models.cour

@{
    ViewBag.Title = "Confirmation";
}

<h2>Détails</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dureeTotale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dureeTotale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heures)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.dateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etatcour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etatcour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.professeur.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professeur.nom)
        </dd>

    </dl>
</div>
@if (Request.IsAuthenticated){
    <p>
        @Html.ActionLink("Confirmer", "Confirm") |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>
}else{
    <p>
        @Html.ActionLink("Retour à la liste", "IndexStudent")
    </p>
}
